<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Douglas Brauner & Brunna Vieira</h2>
                <p>Faltam 256 dias 12 horas e 25 minutos</p>
<!--                 <ul class="actions">
                    <li><a href="#content" class="button big special">Sign Up</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
 -->            
                <img src="/images/love_arrows.png">
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
